page-home {
    .ion-md-share {
        color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
        color: #508AE4;
    }
    .ion-md-heart-empty {
        color: #31d55f
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
        color: #757575;
    }
}
